{% set navbar_variant = 'back-notify' %} {% set back_url = '/users/user' %} {%
set footer_active = 'default' %} {% extends "base.html" %} {% block content %}

<div class="relative" style="min-height: 400px;">
  <!-- 알림설정 Title -->
  <h1
    class="absolute font-noto font-bold text-black"
    style="width: 92px; height: 30px; left: calc(50% - 92px/2); top: 125px; font-size: 25px; line-height: 30px;"
  >
    알림설정
  </h1>
</div>

<script>
  function toggleSwitch(element) {
    const knob = element.querySelector("div");
    const isOn = element.classList.contains("bg-[#B4DE00]");

    if (isOn) {
      // Turn OFF
      element.classList.remove("bg-[#B4DE00]");
      element.classList.add("bg-[#D2D5DA]");
      knob.style.left = "2px";
    } else {
      // Turn ON
      element.classList.remove("bg-[#D2D5DA]");
      element.classList.add("bg-[#B4DE00]");
      knob.style.left = "22px";
    }
  }
</script>

{% endblock %}
